/* 自己紹介 */
.p-item{
  margin: 0px 20px 20px;
}
.p-item__group{
  height: 50px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 3px dashed darkgray;
}
.p-item__title{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 45px;
  color: darkgray;
}
.p-item__box {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
                    linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%,100% 2.5em;
  line-height: 2.5em;
  padding-bottom: 1px;
}
.p-item__text{
  font-size:large;
  font-family: 'Kosugi', sans-serif;
}
.p-page__mainGroup{
  font-family: 'mamelom', sans-serif;
  display: flex;
  margin: 40px auto 0px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.p-page__mainTitle{
  /* width: 20%; */
  font-family: "Nico Moji";
  font-size: 70px;
  color: rgb(4, 200, 167);
  white-space: nowrap;
}
.p-page__text{
  font-size: 20px;
  font-weight: bolder;
}
.p-page__imgGroup{
  width: 30%;
}
.p-page__subImg{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
